/local.properties
/.idea/workspace.xml
/.idea/libraries
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.iml
*.ipr
*.iws
.idea/tasks.xml
.gradle
app/build/
.DS_Store
